$body-bg: #ffffff !default;

$font-family-base: "Open Sans", sans-serif;
$font-size-base: 0.8125rem;
$line-height-base: 1.538;
$h2-font-size: 28px;
$headings-color: #0eb493;
$headings-font-weight: 800;
